<div>
  <table>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" name="" id="" [(ngModel)]="uname">
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>
        <input type="password" name="" id="" [(ngModel)]="pwd">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button on-click="Validate()">Login</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <span style="color:red ;">{{errMsg}}</span>
      </td>
    </tr>
  </table>
</div>
